@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

/* font-family: 'Work Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

header {
    height: 100px;
    padding: 10px;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; /* Asegurarse de que el header esté por encima de otros elementos */
    text-transform: uppercase;
}

.logo { 
    cursor: pointer;
}

.logo img {
    height: 85px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding: 0 5px;
}

nav ul li:hover {
    transform: scale(1.05);
}

nav ul li a {
    font-size: 20px;
    text-decoration: none;
}
.categories li a {
    color: black;
}

.contact li a {
    color: black;
}

.home {
    width: 100%;
    height: 200vh;
}

.banner-1 {
    background-image: url(assets/img/banner-1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.banner-2 {
    background-image: url(assets/img/banner-2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

footer {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
}

.footer-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 80px 0;
}

.footer-contact div {
    padding: 50px 0 50px 0;
}

.footer-contact p {
    cursor: pointer;
}

.social {
    display: flex;
    flex-direction: row;
}

.social p {
    padding: 0 10px;
    cursor: pointer;
}

.mujer {
    width: 100%;
    height: 600vh;
}

.banner-mujer {
    background-image: url(assets/img/banner-mujer.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 70px;
}

.product-view1 {
    margin-top: 10px;
    width: 100%;
    height: 100vh;
}

.product-view1 img{
    width: 325px;
    height: 475px;
}

.product-view1 p{
    text-transform: uppercase;
    font-size: 12px;
}

.product-view1-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-view2 {
    margin-top: 10px;
    width: 100%;
    height: 100vh;
}

.product-view2 img{
    max-width: 100%;
    height: auto;
}

.product-view2 p{
    margin-left: 20px;
    text-transform: uppercase;
    font-size: 14px;
}

.hombre {
    width: 100%;
    height: 300vh;
    margin-top: 150px;
}

.niños {
    width: 100%;
    height: 400vh;
}

.banner-niños {
    background-image: url(assets/img/banner-niños.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: 70px;
}

.banner-ayuda {
    background-image: url(assets/img/banner-ayuda.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.help-view{
    text-transform: uppercase;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
}

.help-tittle {
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.help-tittle h2{
    font-size: 20px;
}

.frequent-view {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.frequent-box {
    border: solid 1px black;
    padding: 3px 3px 3px 3px;
    margin-bottom: 40px;
    cursor: pointer;
}

.help-topic {
    margin-top: 40px;
    margin-left: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: row;
}

.topic-box {
    border: solid 1px black;
    padding: 10px 10px 10px 10px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topic-box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.topic-box p{
    font-size: 15px;
    margin-bottom: 5px;
    cursor: pointer;
}

.ayuda {
    width: 100%;
    height: 200vh;
}